<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/cover.css}" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" id="welcomeText"></h3>
                <nav>
                  <ul class="nav masthead-nav">
                  <li><a th:href="@{/index}">Pinter</a></li>
                  <li class="active" id="myHome"><a href="#">MyHome</a></li>
                  <li><a href="http://www.baidu.com.cn">Contact</a></li>
                </ul>
                </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">We Will Not Rest</h1>
            <p class="lead">瑞士联合银行为广大的客户提供一系列的产品和服务。银行的核心服务是资产管理、投资担保、以及商业零售服务，瑞士联合银行将服务内容的革新、全球的广泛发展与经济的稳定联系起来，实现优质的服务。</p>
            <p class="lead">
              <a class="btn btn-lg btn-success" onclick="welcome.module.jump(0)">查看账户余额</a>
              <a class="btn btn-lg btn-success" onclick="welcome.module.logout(0)">安全退出</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p th:utext="${desc}"></p>
            </div>
          </div>


        </div>

      </div>


    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/commonUtils.js}"></script>
    <script th:src="@{/js/welcome.js}"></script>
  </body>
</html>
